<div class="socialContent">
    <div class="socialIcon facebookIcon">
        @svg('ri:facebook-fill', {width: '1.5em', height: '1.5em'})
    </div>
    <div class="socialIcon twitterIcon">
        @svg('ri:twitter-fill', {width: '1.5em', height: '1.5em'})
    </div>
    <div class="socialIcon googleIcon">
        @svg('ri:google-fill', {width: '1.5em', height: '1.5em'})
    </div>
</div>