<footer>
    <p>Copyright © 2024 Ruralmerce. Todos os direitos reservados</p>
    <div class="socialFooter">
        @svg('ri:facebook-fill', {width: '1.5em', height: '1.5em'})
        @svg('ri:twitter-fill', {width: '1.5em', height: '1.5em'})
        @svg('ri:instagram-fill', {width: '1.5em', height: '1.5em'})
        @svg('ri:linkedin-box-fill', {width: '1.5em', height: '1.5em'})
    </div>
</footer>