a {
    text-decoration: none !important;
}

.navbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 2px 4px 2px #00000030;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 20;
    background-color: white;
}

.ruralmerce{
    margin-top: 5px;
    margin-bottom: 10px;
    color: black;
    font-size: 22px;
    cursor: pointer;
    font-weight: 700;
}

.items {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 35px;
    transition: 0.8s;
    font-size: 14px;
    margin: 0;
}

.item:hover{
    cursor: pointer;
    animation-name: floating;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.icons {
    display: flex;
    gap: 20px;
    cursor: pointer;
    height: 30px;
}

.btnCarrinho {
    display: flex;
    position: relative;
    width: 150px;
    height: 30px;
    background-color: black;
    border-radius: 8px;
    padding: 0 10px;
    align-items: center;
    overflow: hidden;
}

.btnCarrinho svg{
    color: white;
    width: 15px;
    position: absolute;
    left: 20%;
    transition: all 1s ease;
}

.btnCarrinho:hover svg{
    left: 50%;
    width: 20px;
    transform: translate( -50%, 0);
}

.btnCarrinho p{
    color: white;
    text-decoration: none;
    font-size: 12px;
    position: absolute;
    left: 40%;
    transition: all 1s ease;
    margin: 0;
}

.btnCarrinho:hover p{
    left: 100%;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}