<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Home</title>

  @vite(['resources/css/pages/home.css', 'resources/css/partials/navbar.css', 'resources/css/partials/footer.css',
  'resources/css/partials/bannerHome.css', 'resources/css/partials/destaques.css', 'resources/css/partials/categorias.css', 'resources/js/app.js'])
</head>

<body>
  @include('partials/navbar')
  <div class="homeContainer">
    @include('partials/homepage/bannerHome')
    @include('partials/homepage/destaques')
    @include('partials/homepage/categorias')
    @include('partials/footer')
  </div>
</body>

</html>
